@font-face {
  font-family: "MuseoSansCyrl100";
  src: url("MuseoSansCyrl-100.woff2") format("woff2"),
    url("MuseoSansCyrl-100.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl500";
  src: url("MuseoSansCyrl-500.woff2") format("woff2"),
    url("MuseoSansCyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  font: 400 14px/1.5 "MuseoSansCyrl100", sans-serif;
  color: #fff;
}
/* Layout */
.ba-container {
  max-width: 730px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
}
textarea {
}

.ba-section {
  background: url(../img/mybg.jpg);
  /* background-position: 50%; */
  background-size: cover;
  padding: 110px 0;
}
.ba-section__info {
  width: 690px;
  height: 390px;
  border-radius: 9px;
  background: #152335;
  box-shadow: 0 0 70px 10px #000;
  color: #e6e6e6;
}
.ba-logo {
  text-decoration: none;
  padding: 23px 0 6px 17px;
}
.ba-section__flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: center;
}
.ba-section__image {
  padding-top: 68px;
  padding-left: 35px;
  width: 50%;
}
.ba-section__right-col {
  padding-left: 95px;
  width: 50%;
}
.ba-section__title {
  font-weight: 100;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.ba-section__subtitle {
  display: block;
  font-size: 14px;
  color: #384350;
  margin-bottom: 14px;
}
.ba-section__stars {
  display: block;
  margin-bottom: 14px;
  color: #5f6670;
  margin-bottom: 23px;
}
.ba-section__stars:hover {
  color: gold;
}
.ba-section__stars:before {
  content: "\2605\2605\2605\2605\2605";
  font-size: 13px;
}
.ba-section__select {
  margin-bottom: 28px;
}
.ba-section__select select {
  background: none;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  font-family: "MuseoSansCyrl100" sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: #717882;
  border: 1px solid #717882;
  padding: 4px 20px;
  border-radius: 0;
  outline: none;
}

.ba-button {
  text-decoration: none;
  border: 1px solid #717882;
  padding: 8px 54px;
  font-size: 16px;
  color: #5f6670;
  background: none;
}
.ba-button:hover {
  background: rgba(80, 80, 80, 0.363);
}

.ba-section_slide {
  padding: 40px 0 20px 173px;
}
